<div class="app" ng-swipe-right="swipeRight()">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Postać - Ekwipunek
        </div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a href="#" class="btn btn-link"><i class="fa fa-caret-left"></i> Menu</a>
            </div>
        </div>
    </div>

    <div class="navbar navbar-app navbar-fixed-bottom">
        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                <a href="#charBagpack" class="btn btn-link">Plecak <i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>

    <div class="app-body">
        <!-- Tutaj podstawowy ekwipunek -->
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">13</h1>
        </div>
    </div>
</div>