<div class="app has-navbar-top" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Postać &ndash; Umiejętności i atuty
        </div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a href="#" class="btn btn-link"><i class="fa fa-caret-left"></i> Menu</a>
            </div>
        </div>
    </div>

    <div class="app-body">
	
	
		<div class="app-content">
			<div class="scrollable-content section">
			
				
						<div class="panel panel-default ng-scope">
        <div class="panel-heading">
          <h3 class="panel-title">Yord, Gnom</h3>
        </div>
        <div class="panel-body ng-binding">
           <p>Czarodziej / bard 1</p>
		   
		   <div style="display:flex">
				<div style="width:50%">
					<b>PW:</b> 45
				</div>
				
				<div>
					<b>KP:</b> 45
				</div>
			</div>
        </div>
      </div>
	  
	  
			<h3 class="page-header">Umiejętności</h3>
			
			<ul>
				<li ng-repeat="item in abilityList">{{ item.name }}, <small>{{ item.value }}</small></li>
			</ul>
			
			
	  
			<h3 class="page-header">Atuty</h3>
			
			<ul>
				<li ng-repeat="item in classTrumpList">{{ item.name }}</li>
			</ul>
			
	
			</div>
		</div>
	
        <!-- Tutaj umiejętności i atuty postaci 
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">12</h1>
        </div>-->
    </div>
</div>