<div class="app has-navbar-top" ng-swipe-right="swipeRight()">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Postać &ndash; Ekwipunek i historia
        </div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a href="#" class="btn btn-link"><i class="fa fa-caret-left"></i> Menu</a>
            </div>
        </div>
    </div>
<!--
    <div class="navbar navbar-app navbar-fixed-bottom">
        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                <a href="#charBagpack" class="btn btn-link">Plecak <i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>
-->
    <div class="app-body">
	
		
	
		<div class="app-content">
			<div class="scrollable-content section">
			
				
						<div class="panel panel-default ng-scope">
        <div class="panel-heading">
          <h3 class="panel-title">{{ current.name }} &ndash; {{ current.race }} </h3>
        </div>
        <div class="panel-body ng-binding">
           <p>{{ current.type }}, poziom: {{ current.level }}</p>
		   
		   <div style="display:flex">
				<div style="width:50%">
					<b>PW:</b> {{ current.hp }}
				</div>
				
				<div>
					<b>KP:</b> 45
				</div>
			</div>
        </div>
      </div>
	  
	  
			<h3 class="page-header">Broń</h3>
			
			<ul>
				<li ng-repeat="weapon in current.selectedWeapons">{{ weapon.name }}, <small>{{ weapon.type }}, {{ weapon.power }}</small></li>
			</ul>
			
			
	  
			<h3 class="page-header" style="margin-top:20px">Zbroje</h3>
			
			<ul>
				<li ng-repeat="armor in current.selectedArmors">{{ armor.name }}, <small>{{ armor.type }}, {{ armor.power }}</small></li>
			</ul>
			
	
			<h3 class="page-header" style="margin-top:20px">Plecak</h3>
			
						<ul style="margin-bottom:30px">
							<li ng-repeat="item in current.stuffList">{{ item.name }}, <b>{{ item.quantity }}</b></li>
						</ul>
			
			<h3 class="page-header" style="margin-top:20px">Historia</h3>
			
			<p>{{ current.description }}</p>
			
			<h3 class="page-header" style="margin-top:20px">Notatki</h3>
			
			<p style="margin-bottom:30px">{{ current.notes }}</p>
			
			
			
			</div>
		</div>
	
        <!-- Tutaj podstawowy ekwipunek 
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">13</h1>
        </div>-->
    </div>
</div>