<div class="app" ng-swipe-left="swipeLeft()" ng-swipe-right="swipeRight()">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Postać - Umiejętności i atuty
        </div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a href="#" class="btn btn-link"><i class="fa fa-caret-left"></i> Menu</a>
            </div>
        </div>
    </div>

    <div class="app-body">
        <!-- Tutaj umiejętności i atuty postaci -->
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">12</h1>
        </div>
    </div>
</div>