<div class="app has-navbar-top" ng-swipe-left="swipeLeft()">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Postać &ndash; Atrybuty
        </div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a href="#" class="btn btn-link"><i class="fa fa-caret-left"></i> Menu</a>
            </div>
        </div>
    </div>

    <div class="app-body">
	
		<div class="app-content">
		
		
		
			<div class="scrollable-content section">
			
						<div class="panel panel-default ng-scope">
        <div class="panel-heading">
          <h3 class="panel-title">{{ current.name }} &ndash; {{ current.race }} </h3>
        </div>
        <div class="panel-body ng-binding">
           <p>{{ current.type }}, poziom: {{ current.level }}</p>
		   
		   <div style="display:flex">
				<div style="width:33%">
					<b>PW:</b> {{ current.hp }}
				</div>
				
				<div style="width:33%">
					<b>KP:</b> {{ ArmorClass}}
				</div>
				
				<div>
					<b>Biegłość:</b> +{{ proficiency }}
				</div>
			</div>
        </div>
      </div>
		
			
			<h3 class="page-header">Atrybuty</h3>
			
			<table style="width:100%">
				<thead class="stylTabelki">
					<tr>
						<th>Nazwa</th>
						<th>Wartość</th>
						<th></th>
					</tr>
				</thead>
				
				<tbody>
				
					<tr ng-repeat="item in current.attrList" class="stylTabelki">
						<td>{{ item.name }}</td>
						<td>{{ item.value }}</td>
						<td><span ng-if="item.modifier > 0">+</span>{{ item.modifier }}</td>
					</tr>
				
				</tbody>
			</table>
			
		</div>
		</div>
	
	
        <!-- Tutaj atrybuty postaci 
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">11</h1>
        </div>-->
    </div>
</div>