<div class="app">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Lista postaci
        </div>

        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a href="#newChar" class="btn btn-link"><i class="fa fa-plus-circle"></i> Dodaj</a>
            </div>
        </div>

        <div class="btn-group pull-right">
            <div class="btn btn-navbar">

            </div>
        </div>
    </div>

    <div class="app-body">
        <!-- Tutaj lista postaci -->
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">1</h1>
            <button class="btn btn-info" ng-click="goToAttr()" style="width: 100%;"><i class="fa fa-info-circle"></i> Przykładowa postać</button>
        </div>
    </div>
</div>