<div class="app has-navbar-top has-navbar-bottom">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Nowa postać
        </div>
		
		<div class="btn-group pull-right">
          <div class="btn ng-scope">
            <i class="fa fa-hourglass-half"></i> Krok 2.
          </div>
        </div>
    </div>

    <div class="navbar navbar-app navbar-fixed-bottom">
        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a back class="btn btn-link"><i class="fa fa-caret-left"></i> Wróć</a>
            </div>
        </div>

        <!-- Jeśli nie pozwalamy na edycję, kolejny krok jest już niepotrzebny -->
        <div ng-show="editEnabled" class="btn-group pull-right">
            <div class="btn btn-navbar">
                <a href="#newCharAbilities" class="btn btn-link" ng-click="SaveSecondStep(attrList)">Dalej <i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>

    <div class="app-body">
	
		
		<div class="app-content section">
		
			<div class="section section-wide">
				<div class="btn-group justified nav-tabs">
				  <a ng-class="{'active': normal_mode}" class="btn btn-default" ng-click="setNormalMode(true);">
					  Tryb normalny
				  </a>
				  <a ng-class="{'active': !normal_mode}" class="btn btn-default" ng-click="setNormalMode(false);">
					  Tryb domowy
				  </a> 
				</div>
			</div>
			<div class="scrollable-content">
			
				<form class="ng-pristine ng-valid form-horizontal" role="form">
					<fieldset>
						
						<legend>Atrybuty</legend>
						
						<div class="form-group " ng-repeat="(index,attr) in attrList">
							<label class="col-sm-3 control-label">{{attr.name}}</label>
							<div class="col-sm-6"><input class="form-control needsclick" value="{{attr.value}}" placeholder="Wartość (0&ndash;20)" type="number" min="0" max="20" ng-model="attrList[index].value"/></div>
						</div>
						
					</fieldset>
				</form>
				
			
			</div>
		</div>
	
	
        <!-- Tutaj atrybutów postaci -->
        <!-- W zależności od trybu rozgrywki elementy edytowalne, albo nie. Wtedy zgodne z ogólnymi zasadami (patrz mapka od Romana). 
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">3/4</h1>
        </div>-->
    </div>
</div>