<div class="app has-navbar-top has-navbar-bottom">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Nowa postać
        </div>
		
		<div class="btn-group pull-right">
          <div class="btn ng-scope">
            <i class="fa fa-hourglass-half"></i> Krok 4.
          </div>
        </div>
    </div>

    <div class="navbar navbar-app navbar-fixed-bottom" style="text-align:center">
        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a back class="btn btn-link"><i class="fa fa-caret-left"></i> Wróć</a>
            </div>
        </div>
		
        <div class="btn-group">
		<a class="btn btn-navbar" ui-turn-on="modal1" href="" ><i class="fa fa-plus-circle"></i> Dodaj atut</a>

        </div>

        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                <a href="#newCharWeapon" class="btn btn-link">Dalej <i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>

    <div class="app-body">
	
	
		<div class="app-content section">
		
			<div class="section section-wide">
				<div class="btn-group justified nav-tabs">
				  <a ui-toggle="lightbulb" ui-class="{'active': lightbulb}" class="btn btn-default">
					  Tryb normalny
				  </a>
				  <a ui-turn-on="lightbulb" ui-class="{'active': lightbulb}" class="btn btn-default">
					  Tryb domowy
				  </a> 
				</div>
			</div>
			
			<div class="scrollable-content">
			
			<form class="ng-pristine ng-valid form-horizontal" role="form" ng-submit="login()">
					<fieldset>
						<legend>Umiejętności klasy: <b>{{ selectedClass }}</b></legend>
			
			<div class="panel-group" ui-state="myAccordion">
				<div class="panel panel-default ng-scope" ng-repeat="item in classTrumpList">
				  <div class="panel-heading" ui-set="{'myAccordion': item.id}">
				
					<h4 class="panel-title ng-binding" style="position:relative; display:flex; justify-content:space-between;align-items:center">
						
						<div>{{ item.name }}</div>
						<div>
							<ui-switch class="ng-pristine ng-untouched ng-valid ng-isolate-scope switch switch-transition-enabled active" ng-model="ability.isChecked"><div class="switch-handle"></div></ui-switch>
						</div>
					</h4>
				  </div>

				  <div class="ng-scope" ui-if="myAccordion == {{item.id}}">
					<div class="panel-body ng-binding">
					  {{ item.description }}
					</div>
				  </div>
				</div>
			  </div>
					</fieldset>
					
					<fieldset>
					
						<legend>Dodane atuty</legend>
						
						
			<div class="panel-group" ui-state="myAccordion2">
				<div class="panel panel-default ng-scope" ng-repeat="item in additionalTrumpList">
				  <div class="panel-heading" ui-set="{'myAccordion2': item.id}">
				
					<h4 class="panel-title ng-binding" style="position:relative; display:flex; justify-content:space-between;align-items:center">
						
						<div>{{ item.name }}</div>
						<div>
							<ui-switch class="ng-pristine ng-untouched ng-valid ng-isolate-scope switch switch-transition-enabled active" ng-model="ability.isChecked"><div class="switch-handle"></div></ui-switch>
						</div>
					</h4>
				  </div>

				  <div class="ng-scope" ui-if="myAccordion2 == {{item.id}}">
					<div class="panel-body ng-binding">
					  {{ item.description }}
					</div>
				  </div>
				</div>
			  </div>
						
						
					
					</fieldset
				</form>
			
			
			</div>
		</div>
	
	
	
	
        <!-- Tutaj formularz atutów 
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">6</h1>
            <button class="btn btn-info" ng-click="goToTrumps()" style="width: 100%;"><i class="fa fa-info-circle"></i> Wszystkie atuty</button>
        </div>-->
    </div>
</div>


<div ui-yield-to="modals"></div>
<div ui-content-for="modals">
  <div class="modal" ui-if="modal1" ui-state='modal1'>
    <div class="modal-backdrop in"></div>
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button class="close" 
                  ui-turn-off="modal1">&times;</button>
          <h4 class="modal-title">Dodaj atut</h4>
        </div>
        <div class="modal-body">
          
						<div class="form-group">
						  <label>Nazwa atutu</label>
						  <input ng-model="newAbiblityName" class="form-control needsclick" placeholder="Np. skakanie z mostu" type="text">
						</div>
        </div>
        <div class="modal-footer">
          <button ui-turn-off="modal1" class="btn btn-default">Anuluj</button>
          <button ui-turn-off="modal1" class="btn btn-primary">Dodaj atut</button>
        </div>
      </div>
    </div>
  </div>
</div>