<div class="app">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Kreator postaci - Atuty
        </div>
    </div>

    <div class="navbar navbar-app navbar-fixed-bottom">
        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a back class="btn btn-link"><i class="fa fa-caret-left"></i> Wróć</a>
            </div>
        </div>

        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                <a href="#newCharWeapon" class="btn btn-link">Dalej <i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>

    <div class="app-body">
        <!-- Tutaj formularz atutów -->
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">6</h1>
            <button class="btn btn-info" ng-click="goToTrumps()" style="width: 100%;"><i class="fa fa-info-circle"></i> Wszystkie atuty</button>
        </div>
    </div>
</div>