<div class="app  has-navbar-top has-navbar-bottom">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Nowa postać
        </div>
		
		<div class="btn-group pull-right">
          <div class="btn ng-scope">
            <i class="fa fa-hourglass-half"></i> Krok 3.
          </div>
        </div>
    </div>

    <div class="navbar navbar-app navbar-fixed-bottom">
        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a back class="btn btn-link"><i class="fa fa-caret-left"></i> Wróć</a>
            </div>
        </div>
		
        <div class="btn-group pull-right">
            <div class="btn btn-navbar">
                <a href="#newCharTrumps" class="btn btn-link">Dalej <i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>

    <div class="app-body">
		<div class="app-content section">
		
			<div class="section section-wide">
				<div class="btn-group justified nav-tabs">
				  <a ng-class="{'active': normal_mode}" class="btn btn-default" ng-click="setNormalMode(true);">
					  Tryb normalny
				  </a>
				  <a ng-class="{'active': !normal_mode}" class="btn btn-default" ng-click="setNormalMode(false);">
					  Tryb domowy
				  </a> 
				</div>
			</div>
			
			<div class="scrollable-content">
			
			
				<form class="ng-pristine ng-valid form-horizontal" role="form" ng-submit="login()">
					<fieldset>
						
						<legend>Umiejętności</legend>
						
						
						
						<div class="form-group " ng-repeat="ability in abilityList">
							<label class="col-sm-3 control-label">{{ability.name}}</label>
							<div class="col-sm-6">
								<ui-switch class="ng-pristine ng-untouched ng-valid ng-isolate-scope switch switch-transition-enabled active" ng-model="ability.isChecked"><div class="switch-handle"></div></ui-switch>
							</div>
						</div>
						
					</fieldset>
				</form>
			
			
			</div>
		</div>
        <!-- Tutaj formularz umiejętności 
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">5</h1>
        </div>-->
    </div>
</div>
