<div class="app">
    <div class="navbar navbar-app navbar-fixed-top">
        <div class="navbar-brand navbar-brand-center">
            Kreator postaci - Atrybuty
        </div>
    </div>

    <div class="navbar navbar-app navbar-fixed-bottom">
        <div class="btn-group pull-left">
            <div class="btn btn-navbar">
                <a back class="btn btn-link"><i class="fa fa-caret-left"></i> Wróć</a>
            </div>
        </div>

        <!-- Jeśli nie pozwalamy na edycję, kolejny krok jest już niepotrzebny -->
        <div ng-show="editEnabled" class="btn-group pull-right">
            <div class="btn btn-navbar">
                <a href="#newCharAbilities" class="btn btn-link">Dalej <i class="fa fa-caret-right"></i></a>
            </div>
        </div>
    </div>

    <div class="app-body">
        <!-- Tutaj atrybutów postaci -->
        <!-- W zależności od trybu rozgrywki elementy edytowalne, albo nie. Wtedy zgodne z ogólnymi zasadami (patrz mapka od Romana). -->
        <div style="width: 90vw; height: 100vh; margin: 30vh auto;">
            <h1 style="text-align: center; vertical-align: middle; color: lawngreen; font-weight: bold; font-size: 100px;">3/4</h1>
        </div>
    </div>
</div>